node_modules
.env
coverage
coverage.json
typechain
typechain-types
text.txt


# Hardhat files
cache
artifacts/build-info
artifacts/@openzeppelin
artifacts/contracts/DegenToken.sol/DegenToken.dbg.json


